@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: Roboto, sans;
    margin: 2em;
    background-color: #121212;
    color: #FDFDEF;
}

nav {
    position: sticky;
    display: flex;
    justify-content: flex-end;
    gap: 2em;
    padding: 1em;
    top: 0;
    background-color: #121212;
}

nav > a {
    border-bottom: 1px solid #FDFDEF;
    padding-bottom: 3px;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    text-decoration: none;
}

h1 {
    text-transform: uppercase;
    margin-bottom: 5em;
}

h2 {
    margin-top: 2em;
    margin-bottom: 1em;
}

h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

p {
    margin-left: 2em;
    max-width: 800px;
}

a {
    color: #FDFDEF;
    text-decoration: none;
}

a:hover {
    color: #F01212;
}

p > a {
    text-decoration: underline;
}


li {
    list-style-type: circle;
}

li > a:hover {
    color: #F01212;
}

img {
    border: none;
    max-width: 100%;
    margin: 2em 0em 2em 0em;
}

blockquote {
    color: #A0A0A0;
    font-style: italic;
    border-left: 3px solid #FDFDEF;
    margin: 2em 1em -0.5em 1em;
    padding-left: 1em;
}

.tag {
    color: #808080;
    font-family: monospace;
}

code {
    font-family: monospace;
    padding: 0.4em 0.8em 0.4em 0.8em;
    background-color: #242424;
    color: #FDFDEF;
}

footer {
    height: 2em;
    bottom: 0;
}
